DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=CHANGE_ME
DB_NAME=nta_portal
SECRET_KEY=GENERATE_WITH_openssl_rand_-hex_32
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
OCR_SERVICE_URL=http://localhost:2343/extract
SENDGRID_API_KEY=CHANGE_ME
SENDER_EMAIL=noreply@yourdomain.com
USER_PORTAL_URL=http://localhost:8001
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USER=apikey
