pip
setuptools
wheel
fastapi
uvicorn
python-multipart
httpx
requests
mysql-connector-python
python-dotenv
pydantic[email]
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt
cryptography
pandas
openpyxl
