# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=CHANGE_ME
DB_NAME=nta_portal
SECRET_KEY=GENERATE_WITH_openssl_rand_-hex_32

# AI Microservices Ports (Dynamic Registry)
PORT_FACE_REC=2341
PORT_MATCHMAKER=2342
PORT_OCR_EXTRACTION=2343
PORT_MATERIAL_SORTING=2344
PORT_QUIZ_GEN=2345

# SuperAdmin Backend Config
APP_HOST=0.0.0.0
APP_PORT=8003
DEBUG=False

# AI Server Host IP (Change to remote VPN IP when connected)
AI_SERVER_HOST=127.0.0.1
